<!DOCTYPE html>
<html lang="kobis">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가축질병방역대책본부</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>

<body>
  <div class="wrap">

    <!-- header { -->
    <div class="header">
      <a href="" class="logo"><img src="../source/img/logo.png" alt="충청남도"></a>
    </div>
    <!-- } header -->

    <div id="container" class="contain">

      <!-- 상단 고정 영역 (메인) { -->
      <div class="main">
        <div class="wrapper2">

          <!-- 메인 타이틀 { -->
          <div class="main-title-wr">
            <p class="main-title">가축질병 방역대책 본부</p>
            <a href="" target="_blank" class="main-title-link">감염현황정보 바로가기</a>
          </div>
          <!-- } 메인 타이틀 -->

          <div class="main-content-wr">

            <!-- 전국/충남 방역관련 업데이트 내역 { -->
            <ul class="main-update-box-wr">
              <li class="main-update-box main-update-box--kr">
                <div class="main-update-date"><span>*업데이트 날짜</span><span>2023. 08. 31</span></div>
                <div class="main-update-region">전국</div>
                <ul class="main-update-ul">
                  <li class="main-update-li">
                    <div class="main-update-field">구제역</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">고성병원 AI</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">ASF 바이러스 </div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="main-update-box main-update-box--cn">
                <div class="main-update-date"><span>*업데이트 날짜</span><span>2023. 08. 31</span></div>
                <div class="main-update-region">충남</div>
                <ul class="main-update-ul">
                  <li class="main-update-li">
                    <div class="main-update-field">구제역</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">고성병원 AI</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">ASF 바이러스 </div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- } 전국/충남 방역관련 업데이트 내역 -->

            <!-- 첨부파일 영역 { -->
            <ul class="main-file-ul">
              <li class="main-file-li">
                <p class="main-file-field">구제역</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">구제역 백신 취급 및 접종 요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">[동영상] 올바른 구제역 백신접종 요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="main-file-li">
                <p class="main-file-field">고병원성 AI</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">AI 인체감염관련 Q&A</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">철새도래지 인근 농가 AI 차단방역요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="main-file-li">
                <p class="main-file-field">ASF 바이러스</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">ASF 바이러스 Q&A</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">ASF 방역관리 안내문 </p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="main-file-li">
                <p class="main-file-field">소독 및 행동요령</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">축산농가 세척 및 소독요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">축산차량 방역관리 행동요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- } 첨부파일 영역 -->

          </div>
        </div>
      </div>
      <!-- } 상단 고정 영역 (메인) -->

      <!-- 상단 탭 영역 { -->
      <div class="tab-dep1-wr">
        <div class="wrapper2">
          <ul class="tab-dep1-ul">
            <!-- 활성 카테고리 : active 클래스 -->
            <li class="tab-dep1-li active">
              <a href="./index.html">관련소식</a>
            </li>
            <li class="tab-dep1-li">
              <a href="./measures.html">주요 방역조치</a>
            </li>
            <li class="tab-dep1-li">
              <a href="./prevention.html">예방수칙</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- } 상단 탭 영역 -->

      <!-- 컨텐츠 영역 { -->
      <div class="content">
        <div class="wrapper2">
          <!-- 게시판 상세 { -->
          <div class="list-view-top list-view-top--type2">
            <p class="i-col-0 list-view-title-wrap">
              <span class="list-view-title">
                소상공인 정책자금(공단 직접대출) 10월 접수 안내
              </span>
            </p>
            <ul class="i-col-0 td-info">
              <li>
                <span class="icon-wrap"><img src="/source/img/icon-date.png" alt="작성날짜"></span>
                <span class="info-text info-date">2022-10-13</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="/source/img/icon-hits.png" alt="조회수"></span>
                <span class="info-text info-hits">203</span>
              </li>
              <li>
                <span class="icon-wrap"><img src="/source/img/icon-writer.png" alt="작성자"></span>
                <span class="info-text info-writer">관리자</span>
              </li>
            </ul>
            <ul class="i-col-0 list-view-top-btn-wrap">
              <li class="list-view-top-btn-item">
                <button onclick="printPage()" class="list-view-top-btn-link print"></button>
              </li>
            </ul>
          </div>
          <div class="notice-list-view-bot">
            <div class="list-file-wrap">
              <ul class="list-file-ul">
                <!-- loop { -->
                <li>
                  <a href="" class="i-col-0 list-file-inner">
                    <img src="/source/img/icon-file.png" alt="첨부파일">
                    <span class="cut_text file-name">첨부파일명이 들어갑니다.pdf</span>
                    <p class="file-capacity"> (32KB)</p>
                  </a>
                </li>
                <!-- } loop -->
                <li>
                  <a href="" class="i-col-0 list-file-inner">
                    <img src="/source/img/icon-file.png" alt="첨부파일">
                    <span class="cut_text file-name">첨부파일명이 들어갑니다.pdf</span>
                    <p class="file-capacity"> (32KB)</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="notice-list-view-cont">
              <!-- 이미지가 있을 경우 { -->
              <div class="notice-list-view-img-box">
                <img src="/source/img/poster1.jpg" alt="상세 이미지">
              </div>
              <!-- } 이미지가 있을 경우 -->
              <div class="notice-list-view-cont-text">
                본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 본문 텍스트 영역입니다. 
              </div>
            </div>
          </div>
          <!-- } 게시판 상세 -->
        </div>
      </div>
      <!-- } 컨텐츠 영역 -->

    </div>

    <!-- footer { -->
    <div class="footer">
      <div class="foot-top-wr">
        <div class="wrapper2">
          <div class="foot-link-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide foot-link-slide">
                <a href="http://www.chungnam.go.kr/main.do" target="_blank">
                  <img src="/source/img/foot-logo1.png" alt="충청남도">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="https://www.mafra.go.kr/sites/home/index.do" target="_blank">
                  <img src="/source/img/foot-logo2.png" alt="농림축산식품부">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="https://www.qia.go.kr/listindexWebAction.do" target="_blank">
                  <img src="/source/img/foot-logo3.png" alt="농림축산검역본부">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="https://www.lhca.or.kr/" target="_blank">
                  <img src="/source/img/foot-logo4.png" alt="가축위생방역지원본부">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-body-wr">
        <div class="wrapper2">
          <div class="foot-body foot-body-l">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
          <div class="foot-body foot-body-r"><span>가축질병 방역대책 본부</span><a href="tel:1588-4060">1588-4060</a></div>
        </div>
      </div>
    </div>
    <!-- } footer -->
  </div>
</body>

</html>