<!DOCTYPE html>
<html lang="kobis">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가축질병방역대책본부</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>

<body>
  <div class="wrap">

    <!-- skip { -->
    <ul class="skip">
      <li><a href="#container">본문 바로가기</a></li>
      <!-- <li><a href="#gnb">주메뉴 바로가기</a></li> -->
    </ul>
    <!-- } skip -->

    <!-- header { -->
    <div class="header">
      <a href="" class="logo"><img src="../source/img/logo.png" alt="충청남도"></a>
    </div>
    <!-- } header -->

    <div id="container" class="contain">

      <!-- 상단 고정 영역 (메인) { -->
      <div class="main">
        <div class="wrapper2">

          <!-- 메인 타이틀 { -->
          <div class="main-title-wr">
            <p class="main-title">가축질병 방역대책 본부</p>
            <a href="" target="_blank" class="main-title-link">감염현황정보 바로가기</a>
          </div>
          <!-- } 메인 타이틀 -->

          <div class="main-content-wr">

            <!-- 전국/충남 방역관련 업데이트 내역 { -->
            <ul class="main-update-box-wr">
              <li class="main-update-box main-update-box--kr">
                <div class="main-update-date"><span>*업데이트 날짜</span><span>2023. 08. 31</span></div>
                <div class="main-update-region">전국</div>
                <ul class="main-update-ul">
                  <li class="main-update-li">
                    <div class="main-update-field">구제역</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">고성병원 AI</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">ASF 바이러스 </div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="main-update-box main-update-box--cn">
                <div class="main-update-date"><span>*업데이트 날짜</span><span>2023. 08. 31</span></div>
                <div class="main-update-region">충남</div>
                <ul class="main-update-ul">
                  <li class="main-update-li">
                    <div class="main-update-field">구제역</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">고성병원 AI</div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                  <li class="main-update-li">
                    <div class="main-update-field">ASF 바이러스 </div>
                    <div class="main-update-content-wr">
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">개체수</p>
                        <p class="main-update-content main-update-content-r">123</p>
                      </div>
                      <div class="main-update-content">
                        <p class="main-update-content main-update-content-l">치료수</p>
                        <p class="main-update-content main-update-content-r">60</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- } 전국/충남 방역관련 업데이트 내역 -->

            <!-- 첨부파일 영역 { -->
            <ul class="main-file-ul">
              <li class="main-file-li">
                <p class="main-file-field">구제역</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">구제역 백신 취급 및 접종 요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">[동영상] 올바른 구제역 백신접종 요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="main-file-li">
                <p class="main-file-field">고병원성 AI</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">AI 인체감염관련 Q&A</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">철새도래지 인근 농가 AI 차단방역요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="main-file-li">
                <p class="main-file-field">ASF 바이러스</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">ASF 바이러스 Q&A</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">ASF 방역관리 안내문 </p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="main-file-li">
                <p class="main-file-field">소독 및 행동요령</p>
                <ul class="main-file-in-ul">
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">축산농가 세척 및 소독요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                  <li class="main-file-in-li">
                    <a href="" class="main-file-link">
                      <p class="main-file-txt">축산차량 방역관리 행동요령</p>
                      <div class="main-file-icon"></div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- } 첨부파일 영역 -->

          </div>
        </div>
      </div>
      <!-- } 상단 고정 영역 (메인) -->

      <!-- 상단 탭 영역 { -->
      <div class="tab-dep1-wr">
        <div class="wrapper2">
          <ul class="tab-dep1-ul">
            <li class="tab-dep1-li">
              <a href="">관련소식</a>
            </li>
            <li class="tab-dep1-li">
              <a href="">주요 방역조치</a>
            </li>
            <li class="tab-dep1-li active">
              <a href="">예방수칙</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- } 상단 탭 영역 -->

      <!-- 컨텐츠 영역 { -->
      <div class="content">
        <div class="wrapper2">
          <div class="poster-wr">
            <ul class="poster-tab-ul">
              <li class="poster-tab-li active">
                <button type="button">구제역</button>
              </li>
              <li class="poster-tab-li">
                <button type="button">고병원성 AI</button>
              </li>
              <li class="poster-tab-li">
                <button type="button">ASF 바이러스</button>
              </li>
            </ul>
            <div class="poster-box-wr">
              <div class="poster-box poster-box--1 active">
                <div class="poster-box-title-wr">
                  <p class="poster-title1">예방수칙</p>
                  <p class="poster-title2">구제역</p>
                </div>
                <div class="poster-box-cnt-wr">
                  <div class="poster-box-img">
                    <img src="../source/img/poster1.jpg" alt="철저한 방역수칙준수만이 구제역, 고병원성 조류인플루엔자(AI)를 예방할 수 있습니다.">
                  </div>
                  <div class="poster-btn-wr poster-btn-wr--1">
                    <a href="" class="poster-btn"><span>축산농가 방역수칙</span><img src="../source/img/down_ic.png"
                        alt="다운로드"></a>
                    <a href="" class="poster-btn"><span>수의사 동물보호소 관리자 등의 AI감염예방수칙</span><img
                        src="../source/img/down_ic.png" alt="다운로드"></a>
                  </div>
                </div>
              </div>
              <div class="poster-box poster-box--2">
                <div class="poster-box-title-wr">
                  <p class="poster-title1">예방수칙</p>
                  <p class="poster-title2">고병원성 AI</p>
                </div>
                <div class="poster-box-cnt-wr">
                  <div class="poster-box-img">
                    고병원성 AI 관련 이미지가 들어갈 부분
                  </div>
                </div>
              </div>
              <div class="poster-box poster-box--3">
                <div class="poster-box-title-wr">
                  <p class="poster-title1">예방수칙</p>
                  <p class="poster-title2">ASF 바이러스</p>
                </div>
                <div class="poster-box-img">
                  ASF 바이러스 관련 이미지가 들어갈 부분
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- } 컨텐츠 영역 -->

    </div>

    <!-- footer { -->
    <div class="footer">
      <div class="foot-top-wr">
        <div class="wrapper2">
          <div class="foot-link-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">외부 링크 로고</a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">
                  <img src="https://www.qia.go.kr/images/layout/h1Logo.gif" alt="">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">외부 링크 로고</a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">
                  <img src="http://www.chungnam.go.kr/images/cnportal/2023/gnb_logo.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">외부 링크 로고</a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">
                  <img src="http://www.chungnam.go.kr/images/cnvri/2020/common/logo.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">외부 링크 로고</a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">
                  <img src="https://gyeryong.go.kr/kr/img/sub04/sub040203_img01.png" alt="">
                </a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">외부 링크 로고</a>
              </div>
              <div class="swiper-slide foot-link-slide">
                <a href="" target="_blank">
                  <img src="https://www.lhca.or.kr/resources/images/layout/logo.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="foot-body-wr">
        <div class="wrapper2">
          <div class="foot-body foot-body-l">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
          <div class="foot-body foot-body-r"><span>가축질병 방역대책 본부</span><a href="tel:1588-4060">1588-4060</a></div>
        </div>
      </div>
    </div>
    <!-- } footer -->
  </div>
</body>

</html>